Mini Pueblo/Assets/Scripts/TTS/node_modules
Mini Pueblo/Library/ArtifactDB
Mini Pueblo/Library/
Mini Pueblo/Logs/
Mini Pueblo/obj/
Mini Pueblo/UserSettings/
Temp/
Logs/
.obj/
.vs/
*.csproj
*.sln
*.meta
.vsconfig